<!-- @format -->

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />
<main class="page--home home">
  <section class="page__hero hero">
    <button type="button" class="hero__popup popup-hero popup-hero--1">
      <img
        data-fls-image-ignore
        src="@img/hero/popup-logo-1.png"
        alt=""
        class="popup-hero__image"
      />
      <div class="popup-hero__content">
        <p>
          🎉 ¡Pe***32 hizo su primer giro en Buffalo King y ganó $18.000! 🎉
        </p>
        <p>¡Probá, divertite y ganá vos!</p>
      </div>
    </button>
    <button type="button" class="hero__popup popup-hero popup-hero--2">
      <img
        data-fls-image-ignore
        src="@img/hero/popup-logo-2.png"
        alt=""
        class="popup-hero__image"
      />
      <div class="popup-hero__content">
        <p>🍭L****43 ganó $500.000 en Sweet Bonanza 🍭</p>
        <p>Jugátela para ganar mucho más</p>
      </div>
    </button>
    <button type="button" class="hero__popup popup-hero popup-hero--3">
      <img
        data-fls-image-ignore
        src="@img/hero/popup-logo-3.png"
        alt=""
        class="popup-hero__image"
      />
      <div class="popup-hero__content">
        <p>
          ⚡ ¡JR****10 se ganó el Jackpot de $5.000.000 en Gates of Olympus! ⚡
        </p>
        <p>¡El siguiente podés ser vos! ¡Intentá!</p>
      </div>
    </button>
    <button type="button" class="hero__popup popup-hero popup-hero--4">
      <img
        data-fls-image-ignore
        src="@img/hero/popup-logo-4.png"
        alt=""
        class="popup-hero__image"
      />
      <div class="popup-hero__content">
        <p>
          🎉 ¡Pe***32 hizo su primer giro en Buffalo King y ganó $18.000! 🎉
        </p>
        <p>¡Jugá ahora y ganá!</p>
      </div>
    </button>
    <div class="hero__container">
      <div class="hero__content">
        <div class="hero__title-block title-block">
          <h3 class="title-block__label">
            ¡Mirá, hoy estás con toda la suerte!
          </h3>
          <h1 class="title-block__title">Probá tus juegos</h1>
          <div class="title-block__text">
            <p>preferidos en cuatroBet y pegá</p>
            <h2>el gran premio</h2>
          </div>
        </div>
        <a data-fls-button href="https://reg.cuatrobet.com" class="button"
          >!DALE, JUGÁ YÁ!</a
        >
      </div>
      <div class="hero__advantages advantages-hero">
        <div class="advantages-hero__item">
          <img
            src="@img/advantages/bonusIcon.png"
            alt=""
            class="advantages-hero__image"
          />
          <div class="advantages-hero__text">
            <p>Bono del 850% <br />+ 630 FS</p>
          </div>
        </div>
        <div class="advantages-hero__item">
          <img
            src="@img/advantages/timeIcon.png"
            alt=""
            class="advantages-hero__image"
          />
          <div class="advantages-hero__text">
            <p>Experiencia de Juego 24/7</p>
          </div>
        </div>
        <div class="advantages-hero__item">
          <img
            src="@img/advantages/casinoIcon.png"
            alt=""
            class="advantages-hero__image"
          />
          <div class="advantages-hero__text">
            <p>Los Retiros Más Rápidos</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
