<!-- @format -->

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />
<main class="page--home home">
  <section class="page__hero hero">
    <button type="button" class="hero__popup popup-hero">
      <img src="@img/hero/popup logo.png" alt="" class="popup-hero__image" />
      <div class="popup-hero__content">
        <p>
          🎉 ¡Pe***32 hizo su primer giro en Buffalo King y ganó $18.000! 🎉
        </p>
        <p>¡Probá, divertite y ganá vos!</p>
      </div>
    </button>
    <div class="hero__container">
      <div class="hero__content">
        <div class="hero__title-block title-block">
          <h3 class="title-block__label">
            ¡Mirá, hoy estás con toda la suerte!
          </h3>
          <h1 class="title-block__title">Probá tus juegos</h1>
          <div class="title-block__text">
            <p>preferidos en cuatroBet y pegá</p>
            <h2>el gran premio</h2>
          </div>
        </div>
        <a data-fls-button href="https://reg.cuatrobet.com" class="button">!DALE, JUGÁ YÁ!</a>
      </div>
      <div class="hero__advantages advantages-hero">
        <div class="advantages-hero__item">
          <img
            src="@img/advantages/bonusIcon.png"
            alt=""
            class="advantages-hero__image"
          />
          <div class="advantages-hero__text">
            <p>Bono del 150% <br>+100 giros gratis</p>
          </div>
        </div>
        <div class="advantages-hero__item">
          <img
            src="@img/advantages/timeIcon.png"
            alt=""
            class="advantages-hero__image"
          />
          <div class="advantages-hero__text">
            <p>Experiencia de Juego 24/7</p>
          </div>
        </div>
        <div class="advantages-hero__item">
          <img
            src="@img/advantages/casinoIcon.png"
            alt=""
            class="advantages-hero__image"
          />
          <div class="advantages-hero__text">
            <p>Los Retiros Más Rápidos</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
