<!-- @format -->

<footer data-fls-footer class="footer">
  <div class="footer__container">
		<div class="footer__body">
    <div class="footer__logo">©  cuatrobet</div>
    <div class="footer__contacts">
      <span>Contacto: </span>
      <a
        href="mailto:ayuda@cuatrobet.com?subject=Solicitud%20de%20ayuda"
        class="footer__mail"
      >
        ayuda@cuatrobet.com
      </a>
    </div>
		</div>
		<div class="footer__links">
			<a href="#" class="footer__link">Juego Responsable</a>
			<a href="#" class="footer__link">Política de Privacidad</a>
		</div>
		<div class="footer__brands">
			<img src="@img/brands/01.svg" alt="brand" class="footer__brand">
			<img src="@img/brands/02.svg" alt="brand" class="footer__brand">
			<img src="@img/brands/03.svg" alt="brand" class="footer__brand">
			<img src="@img/brands/04.svg" alt="brand" class="footer__brand">
		</div>
		<img src="@img/age-limit.svg" alt="icon" class="footer__age-limit-icon">
  </div>
	<div class="footer__bottom-line bottom-line">
		<div class="bottom-line__container">
			<p>IMPORTANTE: TODOS LOS MONTOS DE BONIFICACIÓN SE MUESTRAN EN EL MONTO TOTAL DE LOS 5 PRIMEROS DEPÓSITOS.</p>
		</div>
	</div>
</footer>
