.footer {
		min-height: 120px;
			padding-block: 20px;
color: var(--lightGreyColor);
@media (max-width:toEm($mobile)){
@include adaptiveValue("padding-top", 40, 20);
}
    &__container {
		margin-bottom: 30px;
			display: flex;
			gap: 10px;
			justify-content: space-between;
			align-items: center;
font-size: 14px;
text-transform: capitalize;
@media (max-width: toEm(1150)){
	row-gap: 12px;
	  flex-wrap: wrap;
		justify-content: space-evenly;
}
@media (max-width:toEm(1000)){
	 font-size: 12px; 
}
    }
&__body{
	display: flex;
	@include adaptiveValue("gap", 127, 15);
		@media (max-width: toEm(700)){
				  order: 1;
			}
}
    &__logo {
		
    }

    &__contacts {
    }

    &__mail {
						transition: all 0.3s;
			@media (any-hover: hover){
				&:hover{
					color:var(--primary);
					text-decoration: underline;
				}
			}
    }

    &__links {
			display: flex;
			gap: 40px;
			@media (max-width: toEm(650)){
				  // order: -1;
			}
    }

    &__link {
			transition: all 0.3s;
			@media (any-hover: hover){
				&:hover{
					color:var(--primary);
				}
			}
    }

    &__brands {
			display: flex;
			width: 505px;
			justify-content: space-between;
			align-items: center;
			@media (max-width:toEm(1000)){
				gap: 12px;
				 flex-wrap: wrap; 
			}
			@media (max-width: toEm(600)){
				  justify-content: space-evenly;
			}
    }

    &__brand {
    }

    &__age-limit-icon {
					@media (max-width: toEm(700)){
				  order: 1;
					width: 30px;
					height: 28px;
			}
    }

    &__bottom-line {
    }
}
.bottom-line {
font-size: 12px;
font-weight: 300;
@media (max-width:toEm($mobileSmall)){
	  font-size: 10px;
}
    &__container {
			text-align: center;
    }
}

